/* .massages {
    padding: 4rem;
    background: #fff;
  } */
  
  h1 {
    text-align: center;
  }
  
  .massages__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: auto;
  }
  
  .massages__wrapper {
    /* position: center; */
    align-items: center;
    justify-content: center;
    /* margin: 50px 0 45px; */
  }
  
  .massages__item {
    margin-bottom: 24px;
    display: contents;
  }

  
  .massages__item__card {
      display: flex;
      flex-flow: column;
      margin: 1rem;
      /* width: 100%; */
      box-shadow: 0 6px 20px rgba(0, 105, 82, 0.384);
      -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
      filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
      border-radius: 10px;
      /* overflow: hidden; */
      text-decoration: none;
    }


.massages__item__title__wrap {
  display: flex;
  justify-content: center;
  background: #8fd0b4;
  position: relative;
  padding-top: 1.5rem;
  margin-bottom: 1rem;
  height: 4.5rem;
  font-size: 3rem;
  overflow: hidden;

}

  
  .massages__item__text {
    color: #252e48;
    font-size:1.75vw;
    line-height: 24px;
    padding: 10px;
    justify-content: center;
    text-align: center;
    /* align-items: center */
  }


  .massage__item__pricing {
    display: flex;
    justify-content: center;
    color: #252e48;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    padding: 5px;
    /*  */
  }

 .massages__item__button {
   display: flex;
   justify-content: center;
   padding: .5rem;
 } 


  /* @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  } */
  
@media only screen and (min-width: 1024px) {
    .massages__items {
      display: flex;
    }
    .massages__item {
      margin-bottom: 2rem;
    }
  }
  
@media screen and (max-width: 960px) {
    .massages > h1 {
        font-size: 9rem;
        margin-top: 25px;
    }
    .massages__item__title__wrap {
        font-size: 4vw;
        width: 100%;
        overflow: hidden;
      }
    .massages__item__text {
      font-size: 3vw;
    }
  }
  
@media screen and (max-width: 768px) {
    .massages > h1 {
        font-size: 8rem;
        margin-top: 0px;
    }

    .massages__items {
      width: 80%;
      margin: auto;
    }

    .massages__item__title__wrap {
      position: relative;
      height: 4rem;
      font-size: 5vw;
      padding-left: 1rem;
      padding-right: 1rem;
      white-space: nowrap;
     }

     .massages__item__text {
       font-size: 4vw;
     }
  
  }

  