 
ul {
  list-style-type: none;
}

.Bios {
    background: url('/src/images/centerLmtBnw.jpg');
    background-position:top;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #8fd0b4;
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
  }

.bioSection {
  padding: 3rem;
  height: 55vh;
  background: rgb(36,36,36);
  background: linear-gradient(180deg, rgba(36,36,36,1) 3%, rgba(36,36,36,1) 77%, rgba(255,255,255,1) 100%);
}

.bioSectionTitleWrapper > h1 {
  font-size: 7rem;
}

.bioSectionP > p {
  font-size: 2rem;
  color: white;
  margin-top: -.5rem;
  padding-bottom: 6rem;
  text-align: center;
}

.bio__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.bio__wrapper {
  display: flex;
  position: relative;
}

/*Bio items is container for cards*/
  
/*card (individ)*/
/* .bio__items {
  margin: 2rem;
  border-radius: 10px; 
  background-color: white;
  display: flex;
  flex-flow: column;
  width: 45%;
  box-shadow: 0 6px 20px rgba(0, 105, 82, 0.384);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
} */


/* card as a whole */
  /* .bio__item__link {
    border-radius: 10px; 
    overflow: hidden;
    text-decoration: none;
  } */
  
  /*picture*/
  /* .bio__item__pic-wrap {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
  } */
    
  /*actual image in wrap*/
  /* .bio__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
  } */

  /* .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }
  
  .bio__item__img:hover {
    transform: scale(1.1);
  } */
  
  /*text container with name*/
  /* .bio__item__info {
    padding: 20px 30px 30px;
  } */
  /*Name text*/
  /* .bio__item__text {
    color: #252e48;
    font-size: 3vw;
  } */


/* 
  MEDIA Q */

  @media screen and (max-width: 1024px) {
    .Bios {
      background-size: cover;
    }
    .bioSection {
      padding: 3rem;
    }

    .bioSectionTitleWrapper > h1 {
      line-height: 10rem;
    }
    .bioSectionP > p {
      font-size: 2.25rem;
    }
  }


  @media screen and (max-width: 968px) {
    .bioSectionTitleWrapper > h1 {
      line-height: 7rem;
    }
    .bioSection {
      padding: 3rem;
      height: 70vh;
    }
    .bioSectionP > p {
      padding-top: 2rem;
    }
  }

  @media screen and (max-width: 600px) {
    .Bios{
      background-size:cover;
      height: 100vh;
    }
    .bio__wrapper {
      display: block;
    }

    /* .bio__items {
      margin: 2rem;
      display: flex;
      flex-flow: column;
      width: 100%;
    }
    .bio__item__text {
      font-size: 7vw;
      line-height:5vh
    } */

    .Bios > h1 {
      color: #8fd0b4;
      font-family: HoneyScript-Light;
      margin-top: 22rem;
      font-size: 130px;
      font-weight:lighter;
      text-shadow: 0px 3px 4px black;
  }
    .bioSection {
      height: 85vh;
    }

    .bioSectionTitleWrapper > h1 {
      font-size: 18vw;
      line-height: 4.5rem;
    }
    .bioSectionP > p {
      padding-top: 2rem;
      font-size: 1.52rem;
    }

  }
  @media screen and (max-width: 320px) {
    .bioSection {
      height: 100vh;
    }
    .bioSectionP > p {
      font-size: 1.25rem;
    }
  }
