.Heather__bio__wrapper {
    position: initial;
    display: flex;
    flex-flow: row;
    align-items: center;
    max-width: 1120px;
    width: 100%;
    flex-wrap: nowrap;
    margin-top: 15%;
  }

.flexWrapBio {
  display: flex;
}

.Heather__pic__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38%;
  margin-left: -6rem;
}

.HeatherTitleWrap {
  position: absolute;
  margin-left: 4rem;
  margin-top: 2rem;
}

.Heather__pic {
  max-width: 75%;
  height: auto;
  border-radius: 360px;
}

.HeatherOwnerWrap {
  position: absolute;
  margin-top: 60px;
  margin-left: 52%
}

.HeatherNameWrap {
  display: flex;
}

.HeatherNameWrap > h3 {
  font-size: 3.5rem;
  }


.Heather__bio__container {
    display: block;
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 4rem;
    flex-wrap: wrap;
    color: black;
    border-width: 4px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to bottom, 
        #8fd0b4, 
        rgba(0, 0, 0, 0)
      ) 1 100%;
  }


  /* changed this from universal to container specific, may cause issues */
.Heather__bio__container > p {
      text-align: center;
      font-size: 1.25rem;
      margin: 1rem;
  }

  
  @media screen and (max-width: 1024px) {
      .Heather__pic {
        margin-left: 3rem;
      }
  }


    @media screen and (max-width: 768px) {
      .Heather__bio__container {
        width: 100%;
        margin-bottom: 3rem;
        margin-top: -3rem;
      }

      .Heather__bio__container > p {
        font-size: 5vw;
      }

      .HeatherBio {
        background-position: initial;
        background-size: cover;
        text-shadow: 0px 3px 4px black;
        height: 100vh;
      }

      .HeatherBio > h1 {
        margin-top: -14rem;
        font-size: 150px;
        line-height: 8rem;
      }
      .flexWrapBio {
        display: flex;
        flex-direction: column;
      }
      .Heather__pic__container {
        width: 60%;
        margin-left: -3rem;
        margin-top: 12rem;
      }

    }

    @media screen and (max-width: 968px) {
      .Heather__bio__container > p {
        text-align: center;
        font-size: 2rem;
        margin: 1rem;
    }
    }

    
    @media screen and (max-width: 600px) {
      .Heather__bio__container {
        width: auto;
        margin-top: 8rem;
      }
      .Heather__bio__container > p {
        font-size: 1rem;
      }
      .Heather__bio__container {
        width: auto;
        margin-top: -1rem;
      }

      .HeatherOwnerWrap {
        margin-left:auto;
        margin-top: 6rem;
      }
      .HeatherNameWrap {
        margin-left: -10%;
      }
      .HeatherNameWrap > h3 {
        font-size: 2rem;
        }
      .HeatherOwnerWrap > h1 {
        font-size: 6rem;
        margin-top: -4rem;
      }
      .flexWrapBio {
        display: flex;
        flex-direction: column;
      }
      .Heather__pic__container {
        width: 70%;
        margin-left: 2rem;
        margin-top: 12rem;
      }

    }
  