.Heather__bio__wrapper {
    position: initial;
    margin-top: 10rem;
    display: flex;
    flex-flow: row;
    align-items: center;
    max-width: 1120px;
    width: 100%;
    flex-wrap: nowrap;
  }


.Heather__pic__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.HeatherTitleWrap {
  position: absolute;
  margin-left: 4rem;
  margin-top: 2rem;
}

.Heather__pic {
  max-width: 75%;
  height: auto;
  border-radius: 360px;
}

.HeatherOwnerWrap {
  position: absolute;
  margin-top: 60px;
  margin-left: 52%
}

.HeatherNameWrap {
  display: flex;
}

.HeatherNameWrap > h3 {
  font-size: 3.5rem;
  }


.Heather__bio__container {
    display: block;
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 4rem;
    flex-wrap: wrap;
    color: black;
    border-width: 3px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to bottom, 
        #8fd0b4, 
        rgba(0, 0, 0, 0)
      ) 1 100%;
  }

    p {
        text-align: center;
        margin: 1rem;
    }


    @media screen and (max-width: 768px) {
      .Heather__bio__container {
        width: 100%;
        margin-bottom: 3rem;
      }

      .Heather__bio__container > p {
        font-size: 5vw;
      }

      .HeatherBio {
        background-position: initial;
        background-size: cover;
        text-shadow: 0px 3px 4px black;
        height: 100vh;
      }

      .HeatherBio > h1 {
        margin-top: -14rem;
        font-size: 150px;
        line-height: 8rem;
      }

      .Heather__pic__container {
        margin-top: 2rem;
      }
      
      /* .Heather__pic{
          margin: 1rem;
          border-style: solid;
          border-width: 1px;
          border-radius: 10px;
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
      } */

    }
    @media screen and (max-width: 600px) {
      .HeatherBio > h1 {
        margin-top: -14rem;
        font-size: 90px;
        line-height: 5rem;
      }
    }