.Kayla__bio__wrapper {
    position: relative;
    margin: 50px 0 500px;
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
  }

.Kayla__pic{
    margin: 1rem;
    border: 2px solid black;
}

.Kayla__bio__container {
    display: flex;
    width: 50%;
    margin-bottom: 5rem;
  }

    p {
        text-align: center;
    }
