.contact__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;

}

.contact__buttons__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.contact__buttons {
    display: flex;
    margin: 2rem;
}


.fa {
    margin-left: .25rem;
}


/* @media only screen and (max-width: 1024px) {
    .google_maps{
        width: 300px;
        height: 225px;
  }}

  @media screen and (max-width: 768px) {
    .google_maps {
        width: 50%;
        height: 50%;
    }
  } */