/* .massage101__list__wrapper > ol {
    line-height: 2rem;
    list-style-type: circle;
    list-style: circle;
    display: flex;
    justify-content: center;

}

.massage101__container {
    display: flex;
    flex-direction: column;
    margin: 2rem;

}
 
.massage101__text__wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: -3%;
}

.massage101__text__wrap > h3 {
    margin-top: 1rem;
    justify-content: center;
    margin-bottom: -2rem;
    font-size: 8vh;
}

.massage101__p__wrap > p {
    font-weight: bolder;
}

Figure out why rem won't change - media query wrong?

@media screen and (max-width: 768px) {
    .massage101__p__wrap {
      margin: 1rem;
    }

    .massage101__text__wrap {
        display: flex;
        flex-direction: column;
        line-height: 8rem;
        margin-bottom: 2rem;
    }
    .massage101__text__wrap > h3 {
        margin-top: 1rem;
        text-align: center;
        justify-content: center;
        margin-bottom: 2rem;
        font-size: 5vh;
        line-height: 15vw;
    }
    

  } */