.cards  {
    padding: 4rem;
    background: #fff;
  }
  
  h1 {
    text-align: center;
  }
  
  .membership__cards__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
  }
  
  .membership__cards__wrapper {
    position: relative;
    margin: 50px 0 45px;
  }
    
  .membership__cards__item {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
    margin-bottom: 24px;
  }
  
  .membership__cards__item__link {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(0, 105, 82, 0.384);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
  }
  
  .membership__cards__item__title {
    background: #8fd0b4;
    position: relative;
    width: 100%;
    padding-top: 4.5rem;
    overflow: hidden;
  }
  
  .membership__cards__item__title::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 2vw;
    font-weight: 700;
    color: black;
    background-color: #8fd0b4;
    box-sizing: border-box;
  }
  
  .membership__cards__item__tier {
    color: #252e48;
    font-size: 18px;
    line-height: 20px;
    padding: 10px;  
  }
  
  
  .membership__cards__item__text {
    color: #252e48;
    font-size: 18px;
    line-height: 24px;
    padding: 10px;  
  }

  .membership__cards__item__text2 {
    color: #252e48;
    font-size: 18px;
    line-height: 24px;
    padding: 10px;  
  }


.membership__btn {
  font-weight: 900;
  border-radius: 3px;
  cursor: pointer;
  padding: 6px 18px;
  background-color: transparent;
  border: 2px solid #8fd0b4;
  color: black;
  margin: 1.5rem;
  transition: all 0.3s ease-out;  
  width: -webkit-fill-available;
  /* transform: translate(50%, 0%) */
}

  /* @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  } */
  
  @media only screen and (min-width: 1024px) {
    .membership__cards__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .membership__cards__item {
      margin-bottom: 2rem;
    }
  }
  
  @media screen and (max-width: 960px) {
    .membership__cards > h1 {
        font-size: 5rem;
        margin-top: 25px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .membership__cards > h1 {
        font-size: 5rem;
        line-height: 5rem;
        margin-top: 0px;
    }
    .membership__cards__item__external {
      margin-bottom: 2rem;
    }
    .membership__cards__item__title::after {
      font-size: 10vw;
    }
  }