@font-face {
  src: url(./Fonts/HoneyScript-Light.ttf);
  font-family: HoneyScript-Light;
}

@font-face {
  font-family: VerdanaPro-CondLight;
  src: url(./Fonts/VerdanaPro-CondLight.woff);
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'VerdanaPro-CondLight', Verdana, Geneva, Tahoma, sans-serif;
  font-stretch:extra-condensed;
}

.home,
/* .massages,  */
.services,
.yoga,
.contact,
.bodytreatments,
.membership {
  background-image: url('/src/images/hotstonebnw.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #8fd0b4;
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 100px;
}

.membership__intro__text {
  margin-bottom: -2rem;
}
.membership__intro__text > p {
  font-size: 2rem;
}
.membership__intro__text > h1 {
  font-size: 7rem;
  margin-top: -3rem;
}

.membership__container {
  background-color: transparent;
  padding: 4rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1120px;
  margin: 0 auto;
}

.membership__pricing__text {
  line-height: 6rem;
  padding: 2rem 0 2rem 0;
}

.membership__container > h2 {
  margin-bottom: 2rem;
}

.membership__text__container {
  margin: 3rem;
}

.membership__text__container > p {
  font-size: .75rem;
  margin: auto;
}

.services {
  background-image: url('/src/images/oilmassage-svg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #8fd0b4;
  font-size: 12rem;
}

.products {
  background-image: url('/src/images/products2bnw.jpg');
  background-position: center;
  background-size:fill;
  background-repeat: no-repeat;
  color: #8fd0b4;
  font-size: 100px;
  height: 90vh;
  align-items: center;
  justify-content: center;
}


.product__p__wrapper > p {
  justify-content: center;
}

.yoga {
  background-image: url('/src/images/yogabnw.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;}

.yoga__text__wrapper {
    background-color:white;
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1120px;
    margin: 0 auto;
}


.contact {
  background-image: url('/src/images/contact.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #8fd0b4;
  font-size: 100px;
}

.massages {
  background-image: url('/src/images/massagebnw.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #8fd0b4;
  font-size: 100px;
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 100px;
}


.bodytreatments {
  background-image: url('/src/images/facialbnw.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #8fd0b4;
  font-size: 100px;
  margin-bottom: 1rem;
}

.product__text__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  flex-direction: column;
  text-align: center;
}


.massage101 {
  background-image: url('/src/images/hands_bnw.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #8fd0b4;
  text-shadow: 2px 2px black;
  font-size: 120px;
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.testimonials {
  background-image: url('/src/images/testimonial_bnw.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #8fd0b4;
  font-size: 120px;
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

/* WHAT WE DO PAGE IN ABOUT SECTION */

.wwd {
  background-image: url('/src/images/wwd_bnw.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #8fd0b4;
  font-size: 100px;
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.wwd__pic {
  margin: 1rem;
  border-radius: 5px;
  border-color: black;
  max-width: 14rem;
}

.wwd__pic__wrapper {
  display: contents;
}

.wwd__text__wrapper > h3 {
  justify-content: center;
  text-align: center;
  margin: 3rem;
  font-size:x-large;
  
}

.wwd__content__wrapper {
  display: flex;
  flex-direction:row;
  margin: 6rem;
}
