@font-face {
  src: url(./Fonts/HoneyScript-Light.ttf);
  font-family: HoneyScript-Light;
}

@font-face {
  font-family: VerdanaPro-CondLight;
  src: url(./Fonts/VerdanaPro-CondLight.woff);
}

h1 {
  color: #8fd0b4;
  font-family: HoneyScript-Light;
  font-size: 130px;
  font-weight:lighter;
  text-shadow: 0px 3px 4px black;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'VerdanaPro-CondLight', Verdana, Geneva, Tahoma, sans-serif;
  font-stretch:extra-condensed;
}

/* ------------------------------MEMBERSHIP----------------------------- */
.membership {
  background-image: url('/src/images/hotstonebnw.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #8fd0b4;
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 100px;
}

.membership__intro__text {
  margin-bottom: -2rem;
}
.membership__intro__text > p {
  font-size: 2rem;
}
.membership__intro__text > h1 {
  font-size: 7rem;
  margin-top: -2rem;
}

.membership__container {
  background-color: transparent;
  padding: 4rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1120px;
  margin: 0 auto;
}

.membership__pricing__text {
  line-height: 6rem;
  padding: 2rem 0 2rem 0;
}

.membership__container > h2 {
  margin-bottom: 2rem;
}

.membership__text__container {
  margin: 3rem;
}

.membership__text__container > p {
  font-size: .75rem;
  margin: auto;
}

/* -----------------------------SERVICES--------------------------------- */

.services {
  background-image: url('/src/images/oilmassage-svg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #8fd0b4;
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 100px;
}

/* ---------------------------------PRODUCTS------------------------------------ */

.products {
  background-image: url('/src/images/products2bnw.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #8fd0b4;
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 100px;

}
.product__p__wrapper > p {
  justify-content: center;
}
.product__text__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  flex-direction: column;
  text-align: center;
}

/* -----------------------------------CONTACT------------------------------------ */

.contact {
  background-image: url('/src/images/contact.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #8fd0b4;
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 100px;
}
.contact__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;

}

.contact__buttons__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.contact__buttons {
  display: flex;
  margin: 2rem;
}


.fa {
  margin-left: .25rem;
}


/*--------------------- WHAT WE DO PAGE IN ABOUT SECTION ------------------------*/

.wwd {
  background-image: url('/src/images/wwd_bnw.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #8fd0b4;
  font-size: 100px;
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.wwdWrapper {
  font-size: clamp(1rem, 1.5vw, 3rem);
  text-align: center;
  margin-bottom: 10%;
}

.wwdTitleWrap {
margin-top: 2rem;
padding: 1rem;
}


.wwdWelcomeWrap {
  margin-top: 60px;
}

.wwdWelcomeWrap > h1 {
  margin-top: -5rem;
  font-size: clamp(6rem, 6vw, 8rem);
}

.moxMassageWrap > h3 {
  text-align: center;
  min-width: 80%;
  font-size: clamp(2.5rem, 2vw, 5rem);
  margin-top: 5rem;
}

.wwdPContainer {
  font-size: clamp(1rem, 1.25vw, 3rem);
  display: flex;
  margin: 4rem;
  padding: 1rem;
  flex-wrap: wrap;
  color: black;
  border-width: 4px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      #8fd0b4, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}


@media (max-width: 330px) {
  .wwdWelcomeWrap > h1 {
    margin-top: 1%;
    line-height: 60%;
  }
}
/* changed this from universal to container 
specific, may cause issues */
/* .wwdPContainer > p {
    text-align: center;
    font-size: 1.25rem;
    margin: 1rem;
}

@media screen and (max-width: 1024px) {
  .wwd {
    font-size: 10rem;
  }
  .wwdPContainer > p {
    font-size: 2rem;
  }
  .moxMassageWrap > h3 {
    font-size: 6rem;
  }
  .moxMassageWrap {
    margin-left: 15%;
  }
}

@media screen and (max-width: 768px) {
  .wwdPContainer {
    width: 100%;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  .wwdPContainer > p {
    font-size: 5vw;
  }
  .moxMassageWrap {
    margin-left: 5rem;
}

}

@media screen and (max-width: 968px) {
.wwdPContainer > p {
  text-align: center;
  font-size: 2rem;
  margin: 1rem;
}
}
  
@media screen and (max-width: 600px) {
  .wwdPContainer {
    width: auto;
    margin-top: 4rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .wwdPContainer > p {
    font-size: 1rem;
  }

  .wwdWelcomeWrap {
    margin-left:auto;
    margin-top: 6rem;
  }
  .moxMassageWrap {
    margin-left: 10%;
  }
  .moxMassageWrap > h3 {
    font-size: 2rem;
    }
  .wwdWelcomeWrap > h1 {
    font-size: 6rem;
    margin-top: -4rem;
  }
  .wwd {
    font-size: 5rem;
  }

} */

/*------------------------------------ YOGA------------------------------ */

.yoga {
  background-image: url('/src/images/yogabnw.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #8fd0b4;
  font-size: 100px;
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.yogaWrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 4rem;
  flex-wrap: wrap;
  color: black;
  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      #8fd0b4, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}

.yogaTextContainer  {
  display: block;
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.yogaFacebookBtnContainer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.yogaTitleText > p {
  font-size: 2rem;
  text-align: center;
}
.yogaTitleText > h2 {
  text-align: center;
  font-size: 3rem;
}

@media screen and (max-width: 600px) { 
  .yogaTitleText > p {
    font-size: 1.5rem;
    text-align: center;
  }
  .yogaTitleText > h2 {
    text-align: center;
    font-size: 2rem;
  }
  .yogaWrapper {
    margin: 2rem;
  }
}


/* -----------------------MASSAGES / MASSAGE ITEMS / BODY TREATMENTS------------- */

.bodytreatments {
  background-image: url('/src/images/facialbnw.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #8fd0b4;
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 100px;
}

.massages {
  background-image: url('/src/images/massagebnw.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #8fd0b4;
  font-size: 100px;
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.massages__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.massages__wrapper {
  align-items: center;
  justify-content: center;
}

.massages__item {
  margin-bottom: 24px;
  display: contents;
}


.massages__item__card {
    display: flex;
    flex-flow: column;
    margin: 1rem;
    box-shadow: 0 6px 20px rgba(0, 105, 82, 0.384);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    text-decoration: none;
  }


.massages__item__title__wrap {
display: flex;
justify-content: center;
text-align: center;
background: #8fd0b4;
margin-bottom: 1rem;
padding: 10px;
min-height: 5rem;
font-size: clamp(2.5rem, 2vw, 3rem);
align-items: center;
}


.massages__item__text {
  color: #252e48;
  font-size: clamp(1rem, 1.75vw, 2rem);
  padding: 10px;
  text-align: center;

}


.massage__item__pricing {
  display: flex;
  justify-content: center;
  color: #252e48;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  padding: 5px;

}

.massages__item__button {
 display: flex;
 justify-content: center;
 padding: .5rem;
} 

.massages__item__button {
 margin-bottom: 1rem;
}



/* -----------------------------------------CORONA SECTION----------------------- */
.corona {
  padding: 3rem;
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%)
}

.corona__wrapper > h3 {
  text-align: center;
  color: white;
}

.corona__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.corona__wrapper {
  max-width: 100%;
  text-align: center;
}


@media screen and (max-width: 960px) {
  .corona__wrapper > h3 {
    font-size: 1rem;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .corona__wrapper > h3 {
    font-size: 1rem;
  }
}


/* ----------------------------------MASSAGE 101---------------------------------- */

.massage101 {
  background-image: url('/src/images/hands_bnw.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #8fd0b4;
  text-shadow: 2px 2px black;
  font-size: 120px;
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
}
.massage101__list__wrapper > ul {
  margin-left: 15%;
  font-size: 2rem;
}
.m101Closing {
  display: flex;
  text-align: center;
  margin: 2rem;
  margin-bottom: 6rem;
  font-size: 2rem;
  font-weight: bold;
}

.m101HeadlineWrap {
  margin-left: 10%;
}
.m101HeadlineWrap > h3 {
  font-size: 4rem;
  margin-left: 10%;
  }

.massage101Wrapper {
  display: flex;
  flex-direction: column;
}
.m101PContainer > p {
  font-size: 2rem;
}

.m101PContainer {
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 2rem;
  width: initial;
  color: black;
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient( to bottom, #8fd0b4, rgba(0, 0, 0, 0) ) 1 100%;
  flex-direction: column;
  align-content: center;
}

@media screen and (max-width: 1024px) {
  .massage101__list__wrapper > ul {
    font-size: 2rem;
  }
  .m101Closing {
    margin-bottom: 7rem;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
  }
  .m101PContainer > p {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .m101PContainer > p {
    font-size: 2rem;
  }
}

@media screen and (max-width: 600px) {
.m101HeadlineWrap > h3 {
  margin-top: 4rem;
  font-size: 2rem;
  margin-left: -5%;
  }
  .massage101__list__wrapper > ul {
    font-size: 1rem;
  }
  .m101Closing {
    font-size: 1rem;
  }
  .m101PContainer {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .m101PContainer > p {
    font-size: 1rem;
  }
}
