@font-face {
  src: url(./Fonts/HoneyScript-Light.ttf);
  font-family: HoneyScript-Light;
}

@font-face {
  font-family: VerdanaPro-CondRegular;
  src: url(./Fonts/VerdanaPro-CondRegular.woff);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'VerdanaPro-CondRegular', Verdana, Geneva, Tahoma, sans-serif;
}

.home,
.services,
.products,
.yoga,
.contact,
.bodytreatments,
.membership {
  background-image: url('/src/images/hotstonebnw.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #8fd0b4;
  font-size: 100px;
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 100px;
}

.services {
  background-image: url('/src/images/oilmassage-svg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #8fd0b4;
  font-size: 12rem;
  
}

.products {
  background-image: url('/src/images/products.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #8fd0b4;
  font-size: 100px;
}

.yoga {
  background-image: url('/src/images/yogabnw.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.contact {
  background-image: url('/src/images/contact.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #8fd0b4;
  font-size: 100px;
}

.massages {
  background-image: url('/src/images/massagebnw.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #8fd0b4;
  font-size: 100px;
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 100px;
}

.bodytreatments {
  background-image: url('/src/images/facialbnw.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #8fd0b4;
  font-size: 100px;
  margin-bottom: 1rem;
}

