
.termsOfService > h3 {
    font-size: xx-large;
}
.privacypolicy > h3 {
    display: flex;
    justify-content: center;
    margin: 1rem;
    margin-top: 3rem;
    font-size: 3rem;
}

.adapolicy> h3 {
    display: flex;
    justify-content: center;
    margin: 1rem;
    margin-top: 2rem;
    font-size: 3rem;
}

.termsOfService, .adapolicy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.termsOfService, .privacypolicy > p {
    display: flex;
    margin: 2rem; 
    font-size:medium;
}

.terms__container {
    width: auto;
}

.privacy__container {
    margin: 6rem;
}

.commitment__container, .ada__contact__container > h4 {
    font-size: large;
}

.commitment__container > p {
    font-size: larger;
    display: flex;
    flex-direction: column;
}

.ada__contact__container > p {
    align-items: center;
    justify-content: center;
    font-size: larger;
    margin-bottom: 2rem;;
}

.adapolicy {
    width: atuo;
}


@media screen and (max-width: 768px) {
    .ada__contact__container {
    margin: 3rem;
}
    .termsText__container > p {
        display: flex;
        width: 75%;
    }
}

@media screen and (max-width: 1024px) {
    .commitment__container {
        margin: 1rem;
        }
    .commitment__container > p {
        width: 100%;
        font-size: 2rem;
    }
    .ada__contact__container > p {
        font-size: 2rem;
    }
    .commitment__container, .ada__contact__container > h4 {
        font-size: 2rem;
    }
    .terms__container {
        margin: .5rem;
    }
}

@media screen and (max-width: 600px) {
    .adapolicy> h3 {
        font-size: 2rem;
    }
    .privacy__container {
        margin: 3rem;
    }
    .commitment__container {
        width: auto;
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .commitment__container > p {
        font-size:medium;
    }
    .terms__container {
        margin: 1rem;
    }
    .ada__contact__container > p {
        font-size: 1rem;
    }
    .ada__container {
        display: flex;
        flex-direction: column;
        width: 75%;
    }
    .commitment__container, .ada__contact__container > h4 {
        font-size: 1rem;
    }
    .ada__contact__container {
        margin: 1rem;
    }
    .termsText__container{
        width: 75%;
    }
    .termsText__container > p{
        display: flex;
        flex-direction: column;
        width: 75%;
    }
    .termsOfService {
        width: 50%;
    }
}