
.privacypolicy > h2 {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.privacy__container > h3, p {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1rem;
}

.privacy__container {
    margin: 3rem;
}

li {
    margin-left: 2rem;
    line-height: 1.5rem;
}